* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f7f9;
    color: #333;
    line-height: 1.6;
}

header,
.grid,
footer {
    max-width: 100%;
    margin: 0 auto;
}

nav {
    background-color: #4682b4;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1e3a5f;
}

nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}

nav a:hover {
    color: #ff4500;
}

nav a:active {
    color: #ffc0cb;
}

.grid {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 20px;
    align-items: start;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

main {
    order: 1;
    padding: 20px;
    text-align: center;
    color: #800080;
    text-shadow: 2px 2px 4px #d2691e;
    transition: color 0.3s ease;
    cursor: pointer;
}

aside {
    order: 2;
    max-width: 100%;
    position: relative;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    transition: transform 0.3s ease;
}

aside:hover {
    transform: translateY(-5px);
}

main p {
    transition: color 0.2s ease-in-out;
    cursor: pointer;
}

main:hover p {
    color: #da70d6;
}

h1 {
    color: #1e3a5f;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px #7b68ee;
    border-bottom: 2px solid #1e3a5f;
}

main h1:hover {
    color: #ffc0cb;
}

aside h2 {
    color: #1e3a5f;
    margin-bottom: 15px;
    text-shadow: 2px 2px 4px #5f9ea0;
    transition: color 0.2s ease-in-out;
    cursor: pointer;
}

main img {
    padding: 10px;
    width: 150px;
    height: auto;
    border-radius: 5px;
    box-shadow: 10px 2px 2px rgb(157, 175, 228);
    position: right;
}

aside:hover h2 {
    color: #da70d6;
}

aside img {
    padding: 10px;
    width: 500px;
    height: auto;
    border-radius: 5px;
    box-shadow: 10px 2px 2px rgb(157, 175, 228);
    position: right;
}

p {
    margin-top: 10px;
    padding: 0;
    color: #8a2be2;
    text-shadow: 2px 2px 2px #ffc0cb;
}

aside p {
    transition: color 0.2s ease-in-out;
    cursor: pointer;
}

aside:hover p {
    color: #cd5c5c;
}

footer {
    margin-top: 40px;
    border-top: 10PX;
    padding: 20px;
    text-align: center;
    background-color: #1e3a5f;
    color: #4b0082;
    text-shadow: 2px 2px 2px #ff0000;
    transition: color 0.2s ease-in-out;
    cursor: pointer;
}

footer p {
    transition: color 0.2s ease-in-out;
    cursor: pointer;
}

footer:hover p {
    color: #ffc0cb;
}